<h1>Regenerative Braking</h1>
<label for="control-type">Control Type:</label><br>
<select id="control-type" name="control-type" (change)="selectUpdate($event)">
    <option *ngFor="let value of controlTypes" value="{{value}}">{{value}}</option>
</select><br>
<div class="content" [ngSwitch]="selectedControlType">
    <app-slider-brake *ngSwitchCase="'real-time'"></app-slider-brake>
    <app-manual-control *ngSwitchCase="'manual'"></app-manual-control>
    <app-preview *ngSwitchCase="'animation'"></app-preview>
</div>

