<!-- <h1>Predicted Behavior</h1> -->
<!-- <h2>Inputs:</h2> -->
<section class="inputs">
    <app-slider [label]="'Brake torque'" [id]="'torque'" [unit]="'Nm'" [sliderValue]="brakeTorque" (sliderEvent)="brakeTorque=$event" [min]="1" [max]="50"></app-slider>
    <!-- <label for='track-length'>Track Length (m):</label>
    <input type="number" id="track-length" min='1' [(ngModel)]="trackLength"/><br> -->
    <!-- <section class="num-input">
        <label for='speed'>Brake torque (Nm):</label>
        <input type="number" id="speed" [(ngModel)]="brakeSpeed" [min]='1' [max]="50"/>
    </section> -->

    <section class="num-input">
        <label for='speed'>Brake speed (m/s):</label>
        <input type="number" id="speed" [(ngModel)]="brakeSpeed" [min]='1' (input)="speedChange()"/>
    </section>

    <section class="num-input">
        <label for='accel' >Acceleration (m/s<sup style="font-size:0.5rem">2</sup>):</label>
        <input type="number" id="accel" [(ngModel)]="acceleration" [step]="0.5" [min]='minAcceleration'/>
    </section>
</section>

<section class="outputs">
    <div class="oneline">
        <h2>Output</h2>
        <div class="tooltip">
            <div class="content">!</div>
            <div class="tooltiptext">
                Behavior shown here are estimates based on simulation model and may not reflect actual braking behavior
            </div>
        </div>
    </div>
    <p>Brake Distance: </p>
    <p>Brake Time: </p>
    <p>Generated Energy: </p>
    <app-graph></app-graph>
    <section class="buttons">
        <button (click)="onStart()" [disabled]="state.started">Start</button>
        <button (click)="onPause()" [disabled]="!state.started || state.ended">{{state.paused === 1 ? "Resume":"Pause"}}</button>
        <button (click)="onReset()" [disabled]="!state.started">Reset</button>
    </section>
</section>