// .container {
//   margin-bottom: 1rem;
// }

// label {
//   margin-bottom: 0.5rem;
// }

label,
p {
  font-size: 0.9rem;
}

.slidercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;

  p {
    margin-left: 0.5rem;
  }
}
